<!--Main Content-->

<section id="infoCircles">
        <h2 class="hidden">Info Circles</h2>
    <div class="circle">
        <img src="../images/{{ContentOneImg}}.jpg" alt="" height="200px" width="200px">
        <h2>{{ContentOneHead}}</h2>
        <p>{{ContentOneParag}}</p>
    </div>

    <div class="circle">
        <img src="../images/{{ContentTwoImg}}.jpg" alt="" height="200px" width="200px">
        <h2>{{ContentTwoHead}}</h2>
        <p>{{ContentTwoParag}}</p>
    </div>
    
    <div class="circle">
        <img src="../images/{{ContentThreeImg}}.jpg" alt="" height="200px" width="200px">
        <h2>{{ContentThreeHead}}</h2>
        <p>{{ContentThreeParag}}</p>
    </div>
</section>

<section id="infoSquares">
        <h2 class="hidden">Info Squares</h2>

    <div class="square1 content">
        <div class="square1Text">
            <h2>{{ContentFourHead}}</h2>
            <p>{{ContentFourHead}}</p>
        </div>

        <div class="square1Image">
            <img src="../images/{{ContentFourImg}}.jpg" alt="" height="500px" width="100%">
        </div>
    </div>

    <div class="square2 content">
        <div class="square2Text">
            <h2>{{ContentFourHead}}</h2>
            <p>{{ContentFour}}</p>
        </div>

        <div class="square2Image">
            <img src="../images/{{ContentFourImg}}.jpg" alt="" height="500px" width="100%">
        </div>
    </div>

    <div class=" hidden square2Desktop content">

            <div class="square2Image">
                <img src="../images/{{ContentFiveImg}}.jpg" alt="" height="500px" width="100%">
            </div>
            
            <div class="square2Text">
                <h2>{{ContentFiveHead}}</h2>
                <p>{{ContentFiveParag}}</p>
            </div>

    </div>

    <div class="square3 content">
            <div class="square3Text">
                <h2>{{ContentSixHead}}</h2>
                <p>{{ContentSixParag}}</p>
            </div>

            <div class="square3Image">
                <img src="../images/{{ContentSixParag}}.jpg" alt="" height="500px" width="100%">
            </div>

    </div>

</section>